.App {
    text-align: center;
    font-family: Roboto;
}

html, body {
    height: 100%
}

#upload-panel {
    flex: 1;
    background-color: #cfe8fc;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#list-panel {
    flex: 1;
}

.upload-screen-holder {
    display: flex;
    flex: 1;
    height: 100%;
}

#root {
    height: 100%;
}

#back-div {
    text-align: center;
}

#back-div > button {
    margin: 2em;
}

#display-screen {
    width: 100%;
    text-align: center;
}
.image-row {
    padding-bottom: 5em;
    text-align: center;
}

#cp-div {
    text-align: center;
    padding-top: 50%;
}

.upload-panel-section {
    flex: 1;
}
#upload-panel:nth-child(1) {
    padding-top: 10%;
}
#loading-section {
    flex: 0.3;
}
