.App {
    text-align: center;
    font-family: Roboto;
}

html, body {
    height: 100%
}

#upload-panel {
    flex: 1;
    background-color: #cfe8fc;
    text-align: center;
}

#list-panel {
    flex: 1;
}

.upload-screen-holder {
    display: flex;
    flex: 1;
    height: 100%;
}

#root {
    height: 100%;
}

#back-div {
    text-align: center;
}

#back-div > button {
    margin: 2em;
}

#display-screen {
    width: 100%;
    display: flex;
    flex-flow: column;
}
.image-row {
    display: flex;
    flex: 1;
}
.image-holder {
    flex: 1;
    width: 100%;
}
.image {

}