.App {
    text-align: center;
    font-family: Roboto;
}

html, body {
    height: 100%
}

#upload-panel {
    flex: 1;
    background-color: #cfe8fc;
    text-align: center;
}

#list-panel {
    flex: 1;
}

.upload-screen-holder {
    display: flex;
    flex: 1;
    height: 100%;
}

#root {
    height: 100%;
}